<div class="border">
  <h3 class="f-500 color-blue">Reconocimiento facial:</h3>
  <div class="row">
    <div class="col-xs mr-5">
      <p class="f-500 n-margin">Biometricos:</p>
    </div>
    <div class="col-xs">
      <app-get-camera (getImage)="setImageFromCamera($event)"></app-get-camera>
    </div>
    <div class="col-xs"></div>
  </div>
  <div class="row center-xs mt-10" *ngIf="ine">
    <div class="col-xs wrap-image">
      <img class="img-ine" [src]="ine"/>
    </div>
  </div>
  <div class="row center-xs mt-10" *ngIf="verify">
    <div class="col-xs-12 row center-xs">
      <mat-spinner></mat-spinner>
    </div>
    <div class="col-xs-12">
      <p>Verificando identidad...</p>
    </div>
  </div>
</div>
