/* For use in src/lib/core/theming/_palette.scss */
$md-mcgpalette0: (
    50 : #e2eef6,
    100 : #b8d4e9,
    200 : #88b8db,
    300 : #589ccd,
    400 : #3586c2,
    500 : #1171b7,
    600 : #0f69b0,
    700 : #0c5ea7,
    800 : #0a549f,
    900 : #054290,
    A100 : #bdd6ff,
    A200 : #8ab6ff,
    A400 : #5796ff,
    A700 : #3d86ff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #ffffff,
    )
);

$md-mcgpalette1: (
    50 : #fdfdfd,
    100 : #fafbfb,
    200 : #f6f9f9,
    300 : #f2f6f6,
    400 : #f0f4f4,
    500 : #edf2f2,
    600 : #ebf0f0,
    700 : #e8eeee,
    800 : #e5ecec,
    900 : #e0e8e8,
    A100 : #ffffff,
    A200 : #ffffff,
    A400 : #ffffff,
    A700 : #ffffff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

